# Chap2 流程控制

## if else , elif

In [ ]:
a=3
b=4
if a>b:
  print("a>b")
else:
  print("b>a")

b>a

In [ ]:
a=3
b=3
if a>b:
  print("a>b")
elif a==b:
  print("a=b")
else:
  print("b>a")

a=b

In [ ]:
a=eval(input("請輸入數字a:"))
b=eval(input("請輸入數字b:"))
if a>b:
  print("a>b")
elif a==b:
  print("a=b")
else:
  print("b>a")

請輸入數字a:4
請輸入數字b:3
a>b

In [ ]:
grade=70
print("成績評鑑：")
if grade >= 90:
    print("優等")
elif grade >=80:
    print("甲等")
elif grade >=70:
    print("乙等")
elif grade >=60:
    print("丙等")
else:
    print("不及格")

成績評鑑：
乙等

## for 迴圈

In [ ]:
for i in range(10): #range(10): 0,1,2,...9
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,1): #range(0開始,9結束(不包含10),每次進1步)
  print(i)

0
1
2
3
4
5
6
7
8
9

### 求1+2+3...10的總和

In [ ]:
#1+2+3...+10總和
sum=0
for count in range(1,11,1):
  sum=sum+count

print(sum)

55

In [ ]:
for c in "I am a girl":
  print(c)

I

a
m

a

g
i
r
l

In [ ]:
for score in [90,100,88,77]:
 print(score)

90
100
88
77

In [1]:
for s in ["john","mary","tom","simpson"]:
  print(s)

john
mary
tom
simpson

## while迴圈

In [2]:
i=1
sum=0
while i<11:
 sum=sum+1
 i+=1

print(sum)

10